Provides: libc_be_socket_noop libc_be_l4re libc_support_misc
          libc_be_fs_noop libc_be_math libc_be_l4refile libinitcwd
	  libc_be_minimal_log_io libmount libc_be_sig libc_be_sig_noop
Requires: l4re libsupc++ libl4re-vfs
Maintainer: adam@os.inf.tu-dresden.de
