menu "Moe"
	visible if EXPERT

config MOE_DEBUG_NAMES
	bool "Set jdb names for created kernel objects"
	help
	  With this option enabled, Moe will register names in jdb for all
	  objects it creates.

	  This is a debugging and development feature.

config MOE_VESA_FB
	bool "Support for VESA frame buffer"
	default y
	help
	  Add support to expose the VESA frame buffer as special dataspace.

	  If unsure, say y.

endmenu
